<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Michael Simpson Portfolio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <link rel="manifest" href="{{ url_for('static', path='site.webmanifest') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', path='icon.png') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', path='favicon.ico') }}" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
        crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer">

    <link rel="stylesheet" type="text/css" , href="{{ url_for('static', path='css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" , href="{{ url_for('static', path='css/main.min.css') }}">
</head>

<body>
    <main>
          <details open class="link-items">
            <summary class="folder">Michael Simpson's Portfolio</summary>
            <div>
                <a href="https://github.com/misimpso/">
                    <i class="fab fa-github fa-fw"></i><span>@misimpso</span>
                </a>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/michael-simpson-/">
                    <i class="fab fa-linkedin-in fa-fw"></i><span>@michael-simpson-</span>
                </a>
            </div>
            <details class="text-items">
                <summary><i class="fas fa-user fa-fw"></i>About Me</summary>
                <div>
                    <img id="profile-pic" src="https://i.imgur.com/L1Dpz2e.jpg">
Senior Software Engineer currently working at Picarro Inc.
<br><br>
Ex-full-stack, Python developer, with a passion for making performant, elegant, and maintainable data-science applications. Experience building and deploying Docker-centric pipelines and applications for cloud-based tech-stacks.
<br><br>
I like to build fun experiences which intersects with my interests in interactivity, music, and art. A hobby of mine is graphic design, which has given me overall principles for intuitive and purposeful designs which I carry into every project I am apart of.
<br><br>
Fun Facts About Me:
                        <ul>
                            <li>I got a highfive from Tony Hawk.</li>
                            <li>I came second-place in a Red Bull paper airplane competition.</li>
                            <li>A random person on the internet got a tattoo of one of my designs.</li>
                        </ul>
                </div>
            </details>
            <details class="link-items">
                <summary><i class="fas fa-palette fa-fw"></i>Projects</summary>
                <div>
                    <a href="https://github.com/misimpso/portfolio">
                        <i class="fas fa-hand-peace fa-fw"></i><span>this website!</span>
                    </a>
                </div>
                <div>
                    <a href="https://github.com/misimpso/twitterpi">
                        <i class="fab fa-twitter fa-fw"></i><span>twitterpi</span>
                    </a>
                </div>
                <div>
                    <a href="https://github.com/FuzzFoundation/WKTPlot">
                        <i class="fas fa-map-marked-alt fa-fw"></i><span>WKTPlot</span>
                    </a>
                </div>
                <div>
                    <a href="https://misimpso.github.io/LyricChart/">
                        <i class="fas fa-music fa-fw"></i><span>Lyric Chart</span>
                    </a>
                </div>
                <div>
                    <a href="https://misimpso.github.io/ClansMap/">
                        <i class="fas fa-feather fa-fw"></i><span>Map of Scottish Clans</span>
                    </a>
                </div>
                <div>
                    <a href="https://misimpso.github.io/EarthsFate/">
                        <i class="fas fa-leaf fa-fw"></i><span>Earth's Fate</span>
                    </a>
                </div>
            </details>
            <details>
                <summary class="folder">Skills</summary>
                <details class="text-items">
                    <summary><i class="fas fa-file-code fa-fw"></i>Languages</summary>
                    <div>Python 3 <span>[7 years]</span></div>
                    <div>C# <span>[4 years]</span></div>
                    <div>HTML5 & Javascript & CSS/SCSS <span>[5 years]</span></div>
                </details>
                <details class="text-items">
                    <summary><i class="fas fa-book fa-fw"></i>Libraries</summary>
                    <div>asyncio</div>
                    <div>boto3</div>
                    <div>celery</div>
                    <div>numpy</div>
                    <div>pandas</div>
                    <div>pyodbc</div>
                    <div>pytest</div>
                    <div>requests</div>
                    <div>setuptools</div>
                    <div>shapely</div>
                    <div>sqlalchemy</div>
                    <div>unittest</div>
                </details>
                <details class="text-items">
                    <summary><i class="fas fa-cog fa-fw"></i>Technologies</summary>
                    <div>AWS Dynamo</div>
                    <div>AWS EC2</div>
                    <div>AWS ECR</div>
                    <div>AWS Lambda</div>
                    <div>AWS S3</div>
                    <div>Django</div>
                    <div>FastAPI</div>
                    <div>Flask</div>
                    <div>Git</div>
                    <div>Github Actions</div>
                    <div>SQL</div>
                    <div>TeamCity</div>
                    <div>Ubuntu 20.04 / 21.04</div>
                </details>
            </details>
          </details>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', path='js/vendor/modernizr-3.11.2.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/plugins.js') }}"></script>
</body>

</html>