<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Michael Simpson Portfolio</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="{{ url_for('static', path='site.webmanifest') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', path='icon.png') }}">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', path='favicon.ico') }}"/>

  <link rel="stylesheet" type="text/css", href="{{ url_for('static', path='css/normalize.css') }}">
  <link rel="stylesheet" type="text/css", href="{{ url_for('static', path='css/main.css') }}">

  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <!-- Add your site or application content here -->
  <h1>Under construction ...</h1>
  <script src="{{ url_for('static', path='js/vendor/modernizr-3.11.2.min.js') }}"></script>
  <script src="{{ url_for('static', path='js/plugins.js') }}"></script>
  <script src="{{ url_for('static', path='js/main.js') }}"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <!-- <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script> -->
</body>

</html>
